.container {
    text-align: center;
    margin: 20px;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.next {
    font-size: 20px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    cursor: pointer;
}
.index-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0,0,0,0.6);
    padding: 6px 12px;
    border-radius: 6px;
  }
  .fullscreen .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    background-color: gray;
    padding: 8px;
    border-radius: 8px;
    z-index: 2;
}